body {
  overflow: hidden;
  margin: 0;
  color: white;
  font-family: Montserrat; }

ul {
  list-style: none;
  padding: 0; }

p {
  margin: 0; }

.weather-application {
  width: 100vw;
  height: 100vh;
  background-image: url("./../../images/background-1.jpg");
  background-size: cover; }
  .weather-application h1 {
    margin: 0; }

.weather {
  width: 90%;
  margin-left: 5%;
  position: absolute;
  bottom: 60px; }

.day-weather {
  display: flex;
  align-items: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%; }
  .day-weather__item {
    width: 13%;
    display: flex !important;
    flex-direction: column;
    padding: 25px 35px; }
    .day-weather__item--active {
      background: rgba(255, 255, 255, 0.4); }
  .day-weather__temp {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px; }
  .day-weather__date {
    margin-bottom: 40px; }
  .day-weather .slick-list,
  .day-weather .slick-track {
    display: flex;
    width: 100%;
    flex-direction: row; }
  .day-weather .slick-arrow {
    position: absolute;
    bottom: -30px; }
  .day-weather .slick-next {
    left: 100px; }

.today-weather__conditions {
  text-transform: capitalize; }

.today-weather__temp {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0; }

.weather-application__text-container {
  margin-left: 100px;
  padding-top: 100px; }

.change-locate__button {
  border: none;
  background: none;
  color: white; }
  .change-locate__button:hover {
    cursor: pointer; }

.change-locate .position-form {
  margin-top: 10px; }
  .change-locate .position-form__input {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    padding: 5px 10px;
    margin-right: 10px;
    color: white; }
    .change-locate .position-form__input::placeholder {
      color: white; }
  .change-locate .position-form__button {
    border: none;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    margin-right: 10px; }
    .change-locate .position-form__button:hover {
      cursor: pointer; }
